#!/bin/bash

# Custom Aliases
alias al="code ~/.aliases"
alias cl="clear"
alias c="code ."
alias ll="ls -1a"
alias ..="cd ../"
alias ..l="cd ../ && ll"
alias pg="echo 'Pinging Google' && ping www.google.com"
alias cb="code ~/.bash_profile"
alias sb="source ~/.bash_profile"
alias de="cd ~/Desktop"
alias d="cd ~/code"
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
alias deleteDSFiles="find . -name '.DS_Store' -type f -delete"
alias kcd-oss="npx -p yo -p generator-kcd-oss -c 'yo kcd-oss'"
function crapp { cp -R ~/.crapp "~/code/$@"; }
alias yarn-update="brew upgrade yarn"
alias flushdns="sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder"
alias dots='code ~/code/dotfiles'
alias npmGlobal="npm list -g --depth 0"

## git aliases

alias ga="git add ."
alias gaa='git add -A'
alias gb='git rev-parse --abbrev-ref HEAD'
function gc { git commit -m "$@"; }
alias gca='git commit --amend'
alias gca="git commit --amend"
alias gcane='git commit --amend --no-edit'
alias gcb='git checkout -b'
alias gct='git checkout-ticket'
alias gd='git diff'
alias gdw='git diff -w'
alias gf="git fetch"
alias gl='git log --oneline'
alias gp='git push'
alias gpf='git push --force' # Are you sure you want to do this???
alias gp="git pull"
alias gpb='git push -u origin $(gitb)' #-u flag adds a tracking reference to the upstream server you are pushing to. 
alias gpl='git pull --rebase'
alias gpt='git push --follow-tags'
alias gpush="git push"
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias gs='git status -s'
alias gs="git status"


## yarn aliases
alias yar="yarn run"
alias yac="yarn commit" # for repos with commitlint installed
alias yas="yarn run start -s --"
alias yab="yarn run build -s --"
alias yat="yarn run test -s --"
alias yav="yarn run validate -s --"
alias yoff="yarn add --offline"
alias ypm="echo \"Installing deps without lockfile and ignoring engines\" && yarn install --no-lockfile --ignore-engines"
removeAllGitTags() { # BE CAREFUL
  git tag -d $(git tag -l);
  git fetch;
  git push origin --delete $(git tag -l); # Pushing once should be faster than multiple times
  git tag -d $(git tag -l);
}

## use hub for git
alias git=hub

## util functions
mg () { mkdir "$@" && cd "$@" || exit; }
shorten() { node ~/code/kcd.im/node_modules/.bin/netlify-shortener "$1" "$2"; }
cdl() { cd "$@" && ll; }
npm_latest() { npm info "$1" | grep latest; }
killport() { lsof -i tcp:"$*" | awk 'NR!=1 {print $2}' | xargs kill -9 ;}
program_exists() {
  command -v "$1" >/dev/null 2>&1 ;
}
without_proxy() {
  http_proxy= https_proxy= all_proxy= no_proxy= $@
}
clear_proxy() {
  unset http_proxy
  unset https_proxy
  unset all_proxy
  unset no_proxy
}
proxy_all() {
  no_proxy= $@
}