<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yabai.loadsa</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/sudo</string>
        <string>/opt/homebrew/bin/yabai</string>
        <string>--load-sa</string>
        <string>--start-service</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/com.yabai.loadsa.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.yabai.loadsa.err.log</string>
</dict>
</plist>
