<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.kill</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/nathan.vale/.bin/kill.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>StandardErrorPath</key>
        <string>/tmp/kill.err.log</string>
        <key>StandardOutPath</key>
        <string>/tmp/kill.out.log</string>
    </dict>
</plist>